.header {
    background-color: var(--primary-color);
    box-shadow: inset 0 -6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 6px;
    width: 100%;
    position: fixed;
    z-index: 15;
}

.header>img {
    transform: scale(0.75);
    -webkit-user-select: none;
    user-select: none;
}

.header>div {
    font-family: Titan One, sans-serif;
    font-size: 35px;
    line-height: 47px;
    outline: none;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}